@charset "UTF-8";
body {
  background: #999;
}

.contain {
  background-color: #fff;
  max-width: 100rem;
  margin: auto;
  padding: 0;
  position:relative;
}

h2, h4 {
  margin-bottom: 0;
}

.title {
  text-align: center;
}

.aright {
  text-align: right;
}

.tabs-panel{
  padding:0;
}

#connectionbullet {
  line-height: 3;
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 0.75rem;
  color: #ff004e;
  padding: .5rem;
}
#connectionbullet:before {
  content: "•";
  position: relative;
  font-size: 2.5rem;
  line-height: 0;
  top: 0.6rem;
}


#calledballs {
  font-size:.75rem;
}

#calledballs tbody th, tbody td {
  padding: 0.3rem 0.3rem 0.3rem;
}

#calledballs tr:first-child {
  opacity: 100%;
}
#calledballs tr td {
  opacity: 50%;
}

#winningpattern {
  padding: 2%;
  font-size: 0.6em;
  max-width: 16em;
  margin: auto;
}
#winningpattern table {
  margin-bottom: 0.25rem;
}
#winningpattern th, #winningpattern td {
  padding: 0.4rem;
  text-align: center;
  width: 20%;
}
#winningpattern .winpat {
  margin: auto;
  background: #000;
  border-radius: 10em;
  max-width: 1.5em;
}

#infobar {
  position:relative;
}

#cards th, #cards td {
  text-align:center;
}

.settingpane {
  border:.3rem solid #eee;
  padding:3%;
  margin:1%;
}










/* toggle states */
#calledballs .demotoggle {
  opacity:.5;
}
#calledballs .demotoggleon {
  opacity:1;
}

.winpat.demotoggle {
  opacity:.1;
}
.winpat.demotoggleon {
  opacity:1;
}

#connectionbullet.demotoggle:after {
  content: "NOT CONNECTED";
  font-size: 0.75rem;
}
#connectionbullet.demotoggleon {
  color: #00DF80;
}
#connectionbullet.demotoggleon:after {
  content: "CONNECTED";
}

#cards .demotoggle {
  position:relative;
}
#cards .demotoggleon:before {
  content: "•";
  opacity: .5;
  color: #00DF80;
  position: absolute;
  font-size: 8rem;
  top: -0.635em;
  left: 0;
  right: 0;
}

#unpaid.demotoggle {
  display:block;
}
#paid.demotoggle {
  display:none;
}
#unpaid.demotoggleon {
  display:none;
}
#paid.demotoggleon {
  display:block;
}


/* responsive */
@media screen and (max-width:1024px) {
  #infobar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .contain {
    padding-bottom:50%;
  }
}

@media screen and (max-width:640px) {
  .contain {
    padding-bottom:90%;
  }
}
