<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bringo</title>
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body id="bingo">
  <button class="dswitch button" style="margin:2rem;">Toggle Elements</button>
  <br><br>

  <div class="grid-container main" style="padding:0;">

    <div class="contain">

      <div id="statusbar">
        <div class="grid-x">
          <div class="small-12 medium-6 small-order-2 medium-order-1 cell">
            <ul class="tabs" data-tabs id="ma inpanes">
              <li class="tabs-title is-active"><a href="#mainpanes1" aria-selected="true">Current Game</a></li>
              <li class="tabs-title"><a href="#mainpanes2">Settings</a></li>
            </ul>
          </div>
          <div class="small-12 medium-6 small-order-1 medium-order-2 cell aright">

            <div id="app">
              <div id="connectionbullet" class="demotoggle" v-bind:class="{ demotoggleon: isActive, 'text-danger': hasError }">&nbsp;</div>

              <button class="button" @click="disconnect" v-if="status === 'connected'">Disconnect</button>
              <button class="button" @click="connect" v-if="status === 'disconnected'">Connect</button> {{ status }}
              <br /><br />
              <div v-if="status === 'connected'">
                <form @submit.prevent="sendMessage" action="#">
                  <input v-model="message"><button type="submit">Send Message</button>
                </form>
                <ul id="logs">
                  <li v-for="log in logs" class="log">
                    {{ log.event }}: {{ log.data }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tabs-content" data-tabs-content="mainpanes">
        <div class="tabs-panel" id="mainpanes2">

          <div class="grid-container">
            <div class="grid-x grid-margin-x">
              <div class="cell settingpane large-4 medium-6 small-12">
                <form data-abide novalidate>
                  <div data-abide-error class="alert callout" style="display: none;">
                    <p><i class="fi-alert"></i> There are some errors in your form.</p>
                  </div>
                  <label>Bingo Server:
                    <input type="text" placeholder="sudobringo.com" pattern="website">
                  </label>
                  <div id="connectionbullet" class="demotoggle">&nbsp;</div>
                  <fieldset class="cell large-6">
                    <button class="button" type="submit" value="Submit">Connect</button>
                  </fieldset>
                </form>
              </div>
              <div class="cell settingpane large-4 medium-6 small-12">
                <form>
                  <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                      <div class="medium-6 cell">
                        <label>Username
                          <input type="text" placeholder="username">
                        </label>
                      </div>
                      <div class="medium-6 cell">
                        <label>Game ID
                          <input type="text" placeholder="1234">
                        </label>
                      </div>
                    </div>
                  </div>
                  <fieldset class="cell large-6">
                    <button class="button" type="submit" value="Submit">Load Game</button>
                  </fieldset>
                </form>
              </div>
              <div class="cell settingpane large-4 medium-12 small-12">
                <div class="grid-container">
                  <div class="grid-x grid-padding-x">
                    <div class="small-12 cell">
                      Game Data
                    </div>
                    <div class="small-4 cell">
                      Ante:
                    </div>
                    <div class="small-4 cell">
                      5 SKY
                    </div>
                    <div class="small-4 cell">
                      <span id="unpaid" class="demotoggle">Unpaid</span>
                      <span id="paid" class="demotoggle">Paid</span>
                    </div>
                    <div class="small-12 cell">
                      Payment Address [COPY]
                    </div>
                    <div class="small-12 cell">
                      <h4>Current Pot: 200</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="tabs-content" data-tabs-content="mainpanes">
          <div class="tabs-panel is-active" id="mainpanes1">

            <div class="grid-x">

              <div class="small-12 medium-12 large-4 cell">

                <ul class="accordion" data-accordion  data-allow-all-closed="true">
                  <li class="accordion-item" data-accordion-item>
                    <a href="#" class="accordion-title">Session Title | Last Five Calls: B10, I60, N20, G40, O50</a>

                    <div class="accordion-content" data-tab-content>
                      <div id="calledballs" class="table-scroll">
                        <div class="title">
                          <h6>Drawn</h6>
                        </div>
                        <table>
                          <tbody>
                            <tr>
                              <td>B</td>
                              <td class="demotoggle">1</td>
                              <td class="demotoggle">2</td>
                              <td class="demotoggle">3</td>
                              <td class="demotoggle">4</td>
                              <td class="demotoggle">5</td>
                              <td class="demotoggle">6</td>
                              <td class="demotoggle">7</td>
                              <td class="demotoggle">8</td>
                              <td class="demotoggle">9</td>
                              <td class="demotoggle">10</td>
                              <td class="demotoggle">11</td>
                              <td class="demotoggle">12</td>
                              <td class="demotoggle">13</td>
                              <td class="demotoggle">14</td>
                              <td class="demotoggle">15</td>

                            </tr>
                            <tr>
                              <td>I</td>
                              <td class="demotoggle">16</td>
                              <td class="demotoggle">17</td>
                              <td class="demotoggle">18</td>
                              <td class="demotoggle">19</td>
                              <td class="demotoggle">20</td>
                              <td class="demotoggle">21</td>
                              <td class="demotoggle">22</td>
                              <td class="demotoggle">23</td>
                              <td class="demotoggle">24</td>
                              <td class="demotoggle">25</td>
                              <td class="demotoggle">26</td>
                              <td class="demotoggle">27</td>
                              <td class="demotoggle">28</td>
                              <td class="demotoggle">29</td>
                              <td class="demotoggle">30</td>

                            </tr>
                            <tr>
                              <td>N</td>
                              <td class="demotoggle">31</td>
                              <td class="demotoggle">32</td>
                              <td class="demotoggle">33</td>
                              <td class="demotoggle">34</td>
                              <td class="demotoggle">35</td>
                              <td class="demotoggle">36</td>
                              <td class="demotoggle">37</td>
                              <td class="demotoggle">38</td>
                              <td class="demotoggle">39</td>
                              <td class="demotoggle">40</td>
                              <td class="demotoggle">41</td>
                              <td class="demotoggle">42</td>
                              <td class="demotoggle">43</td>
                              <td class="demotoggle">44</td>
                              <td class="demotoggle">45</td>

                            </tr>
                            <tr>
                              <td>G</td>
                              <td class="demotoggle">46</td>
                              <td class="demotoggle">47</td>
                              <td class="demotoggle">48</td>
                              <td class="demotoggle">49</td>
                              <td class="demotoggle">50</td>
                              <td class="demotoggle">51</td>
                              <td class="demotoggle">52</td>
                              <td class="demotoggle">53</td>
                              <td class="demotoggle">54</td>
                              <td class="demotoggle">55</td>
                              <td class="demotoggle">56</td>
                              <td class="demotoggle">57</td>
                              <td class="demotoggle">58</td>
                              <td class="demotoggle">59</td>
                              <td class="demotoggle">60</td>

                            </tr>
                            <tr>
                              <td>O</td>
                              <td class="demotoggle">61</td>
                              <td class="demotoggle">62</td>
                              <td class="demotoggle">63</td>
                              <td class="demotoggle">64</td>
                              <td class="demotoggle">65</td>
                              <td class="demotoggle">66</td>
                              <td class="demotoggle">67</td>
                              <td class="demotoggle">68</td>
                              <td class="demotoggle">69</td>
                              <td class="demotoggle">70</td>
                              <td class="demotoggle">71</td>
                              <td class="demotoggle">72</td>
                              <td class="demotoggle">73</td>
                              <td class="demotoggle">74</td>
                              <td class="demotoggle">75</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                </ul>

                <div id="infobar">
                  <ul class="accordion" data-accordion data-allow-all-closed="true" style="margin-bottom:0;">
                    <li class="accordion-item is-active" data-accordion-item>
                      <a href="#" class="accordion-title"><span style="text-align:right;"><i>Pot: 900 | B14 | Pattern</i></span></a>
                      <div class="accordion-content" data-tab-content>

                        <div class="grid-x">
                          <div class="small-3 cell">
                            <h2>900</h2>
                            <p>Current Pot</p>
                          </div>
                          <div class="small-6 cell">
                            <div id="winningpattern">
                              <table>
                                <thead>
                                  <tr>
                                    <th>B</th>
                                    <th>I</th>
                                    <th>N</th>
                                    <th>G</th>
                                    <th>O</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><div id="B1" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="I1" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N1" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="G1" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="O1" class="winpat demotoggle">&nbsp;</div></td>
                                  </tr>
                                  <tr>
                                    <td><div id="B2" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="I2" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N2" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N2" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N2" class="winpat demotoggle">&nbsp;</div></td>
                                  </tr>
                                  <tr>
                                    <td><div id="B3" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="I3" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N3" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="G3" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="O3" class="winpat demotoggle">&nbsp;</div></td>
                                  </tr>
                                  <tr>
                                    <td><div id="B4" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="I4" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N4" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="G4" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="O4" class="winpat demotoggle">&nbsp;</div></td>
                                  </tr>
                                  <tr>
                                    <td><div id="B5" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="I5" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="N5" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="G5" class="winpat demotoggle">&nbsp;</div></td>
                                    <td><div id="O5" class="winpat demotoggle">&nbsp;</div></td>
                                  </tr>
                                </tbody>
                              </table>
                              <div class="title">Winning Pattern</div>
                            </div>
                          </div>
                          <div class="small-3 cell aright">
                            <h2>G 72</h2>
                            <p>Current Ball</p>
                          </div>
                        </div>

                      </div>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="small-12 medium-12 large-8 cell">

                <div id="settingsandcards">

                  <div class="grid-x grid-padding-x">
                    <div class="large-4 medium-6 small-12 cell">
                      <div id="cards">
                        <table>
                          <thead>
                            <tr>
                              <th>B</th>
                              <th>I</th>
                              <th>N</th>
                              <th>G</th>
                              <th>O</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="demotoggle">1</td>
                              <td class="demotoggle">15</td>
                              <td class="demotoggle">4</td>
                              <td class="demotoggle">7</td>
                              <td class="demotoggle">12</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">16</td>
                              <td class="demotoggle">17</td>
                              <td class="demotoggle">18</td>
                              <td class="demotoggle">19</td>
                              <td class="demotoggle">20</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">33</td>
                              <td class="demotoggle">34</td>
                              <td><div class="freespace">&nbsp;</div></td>
                              <td class="demotoggle">35</td>
                              <td class="demotoggle">36</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">50</td>
                              <td class="demotoggle">51</td>
                              <td class="demotoggle">52</td>
                              <td class="demotoggle">53</td>
                              <td class="demotoggle">54</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">66</td>
                              <td class="demotoggle">67</td>
                              <td class="demotoggle">68</td>
                              <td class="demotoggle">69</td>
                              <td class="demotoggle">70</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="large-4 medium-6 small-12 cell">
                      <div id="cards">
                        <table>
                          <thead>
                            <tr>
                              <th>B</th>
                              <th>I</th>
                              <th>N</th>
                              <th>G</th>
                              <th>O</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="demotoggle">1</td>
                              <td class="demotoggle">15</td>
                              <td class="demotoggle">4</td>
                              <td class="demotoggle">7</td>
                              <td class="demotoggle">12</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">16</td>
                              <td class="demotoggle">17</td>
                              <td class="demotoggle">18</td>
                              <td class="demotoggle">19</td>
                              <td class="demotoggle">20</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">33</td>
                              <td class="demotoggle">34</td>
                              <td><div class="freespace">&nbsp;</div></td>
                              <td class="demotoggle">35</td>
                              <td class="demotoggle">36</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">50</td>
                              <td class="demotoggle">51</td>
                              <td class="demotoggle">52</td>
                              <td class="demotoggle">53</td>
                              <td class="demotoggle">54</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">66</td>
                              <td class="demotoggle">67</td>
                              <td class="demotoggle">68</td>
                              <td class="demotoggle">69</td>
                              <td class="demotoggle">70</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="large-4 medium-6 small-12 cell">
                      <div id="cards">
                        <table>
                          <thead>
                            <tr>
                              <th>B</th>
                              <th>I</th>
                              <th>N</th>
                              <th>G</th>
                              <th>O</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="demotoggle">1</td>
                              <td class="demotoggle">15</td>
                              <td class="demotoggle">4</td>
                              <td class="demotoggle">7</td>
                              <td class="demotoggle">12</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">16</td>
                              <td class="demotoggle">17</td>
                              <td class="demotoggle">18</td>
                              <td class="demotoggle">19</td>
                              <td class="demotoggle">20</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">33</td>
                              <td class="demotoggle">34</td>
                              <td><div class="freespace">&nbsp;</div></td>
                              <td class="demotoggle">35</td>
                              <td class="demotoggle">36</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">50</td>
                              <td class="demotoggle">51</td>
                              <td class="demotoggle">52</td>
                              <td class="demotoggle">53</td>
                              <td class="demotoggle">54</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">66</td>
                              <td class="demotoggle">67</td>
                              <td class="demotoggle">68</td>
                              <td class="demotoggle">69</td>
                              <td class="demotoggle">70</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="large-4 medium-6 small-12 cell">
                      <div id="cards">
                        <table>
                          <thead>
                            <tr>
                              <th>B</th>
                              <th>I</th>
                              <th>N</th>
                              <th>G</th>
                              <th>O</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="demotoggle">1</td>
                              <td class="demotoggle">15</td>
                              <td class="demotoggle">4</td>
                              <td class="demotoggle">7</td>
                              <td class="demotoggle">12</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">16</td>
                              <td class="demotoggle">17</td>
                              <td class="demotoggle">18</td>
                              <td class="demotoggle">19</td>
                              <td class="demotoggle">20</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">33</td>
                              <td class="demotoggle">34</td>
                              <td><div class="freespace">&nbsp;</div></td>
                              <td class="demotoggle">35</td>
                              <td class="demotoggle">36</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">50</td>
                              <td class="demotoggle">51</td>
                              <td class="demotoggle">52</td>
                              <td class="demotoggle">53</td>
                              <td class="demotoggle">54</td>
                            </tr>
                            <tr>
                              <td class="demotoggle">66</td>
                              <td class="demotoggle">67</td>
                              <td class="demotoggle">68</td>
                              <td class="demotoggle">69</td>
                              <td class="demotoggle">70</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>

          </div>
        </div>

      </div>

      </div>
      </div>





      <script src="js/vendor/jquery.js"></script>
      <script src="js/vendor/what-input.js"></script>
      <script src="js/vendor/foundation.js"></script>
      <script src="js/vue.js"></script>
      <script src="js/connection.js"></script>
      <script src="js/app.js"></script>

      </script>
    </body>
    </html>
